body{
	margin: 0px;
	width: 300px;
}

main ul li{
	list-style: none;
	margin-left: 20px;
}

main ul{
	padding-left: inherit;
}

main ul li p{
	width: 200px;
}


/*Classes*/

.blue{
	background-color: #217bb1 ;
}

.block{
	display: block;
}

.bold{
	font-weight: bold;
}

.bord{
	border-radius: 10px
}

.flex{
	display: flex;
}

.flexCenter{
	justify-content: center;
}

.flexWrap{
	flex-wrap: wrap;
}

.noMarginTop{
	margin-top: 0px;
}

.marginTop5{
	margin-top: 5px;
}

.noMargin{
	margin: 0px;
}

.marginAuto{
	margin: auto;
}

.padding5{
	padding: 5px;
}

.textCenter{
	text-align: center;
}

.underline{
	text-decoration: underline;
}

.width50{
	width: 75%;
}

.width100{
	width: 100%;
}










