body{
	margin: 0px;
	width: 300px;
}

main ul li{
	list-style: none;
	margin-left: 20px;
}

main ul{
	padding-left: inherit;
}

main ul li p{
	width: 200px;
}


/*Classes*/

.blue{
	background-color: #217bb1 ;
}

.block{
	display: block;
}

.bold{
	font-weight: bold;
}

.bord{
	border-radius: 10px
}

.err{
	display: none;
	width: 200px;
	left: 50px;
	top: 8px;
	min-height: 30px;
	position: absolute;
/*	display: flex;*/
	justify-content: center;
	align-items: center;
	color: darkred;
	margin: auto;
	border-radius: 10px;
	background-color: #cccccc;
	background-color: #aaaaaa;
	transition: 0.5s;

}

.err.display{
	display: flex;
	margin: auto;
	transition: 0.5s;
}

.flex{
	display: flex;
}

.flexCenter{
	justify-content: center;
}

.flexWrap{
	flex-wrap: wrap;
}

.noMarginTop{
	margin-top: 0px;
}

.noMarginBottom{
	margin-bottom: 0px;
}

.marginTop5{
	margin-top: 5px;
}

.marginBottom5{
	margin-bottom: 5px;
}

.noMargin{
	margin: 0px;
}

.marginAuto{
	margin: auto;
}

.padding5{
	padding: 5px;
}

.textCenter{
	text-align: center;
}

.underline{
	text-decoration: underline;
}

.width50{
	width: 75%;
}

.width100{
	width: 100%;
}


/*Switches CSS*/

.toggle{
  width: 60px;
  height: 35px;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.toggle input{
  display: none;
}

.toggle.active{
  background-color: #217bb1;;
}

.toggle.active .toggle-button{
  left: 30px;
}

.toggle .toggle-button{
  position: relative;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}